<!DOCTYPE html>
<html>
<head>
    <title>Plan B Distribution Network</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <div class="header">
        <h1>Learn more with these resources!</h1>
    </div>
    
    <nav class="navbar">
    <a href="frontPage.html">Home</a>
    <a href="resources.html">Resources</a>
    <a href="aboutus.html">About Us</a>
    </nav>
    <div class="content">
        <h2>Look at resources below!</h2>
        <a href="https://www.planbonestep.com/how-plan-b-works/?utm_source=google&utm_medium=cpc&utm_campaign=USA_GO_SEM_B_EX_PlanB-DTC-HowItWorks&utm_term=what+is+plan+b+and+how+does+it+work&utm_content=How+It+Works&gclid=Cj0KCQjw05i4BhDiARIsAB_2wfByyAa_MfMYORe7hxAVscVcOx1oWqu4RCfWdA7WQPKSVkq8yhax29kaAiV7EALw_wcB&gclsrc=aw.ds" target="_blank">Plan B important information</a> <br>
        <a href="https://reproductiverights.org/" target="_blank">Reproductive Rights Information</a> <br>


        </section>
</body>

</html>